.navicon {
  animation-name: default;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes default {
    from {
        transform:rotate(180deg);
    }
    to {
        transform:rotate(0deg);
    }
}


.top-div {
  padding-top: 4rem;
}

.home-icon {
  padding-top: 4px;
  color: #afafaf;
  font-size: 2rem;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: transform;
}

.show.dropdown .dropdown-toggle::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}


.navicon.spinning{
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}
