/*********************************** Tag Selectors ***********************************/

body {
  background-color: #255B78;
  color: #e8e8e8;
  font-family: 'Oxygen';
  margin: 0;
  padding: 0;
}

div {
  height: 200px;
  width: 400px;
  padding-top: 10px;
  padding-left: 10px;
}

hr {
  color: #e8e8e8;
  border-style: none none dotted none;
  border-width: 5px;
  width: 5%;
}


/*********************************** Class Selectors ***********************************/

.header {
  color: #16c196;
  font-family: 'Ubuntu';
}

.header:hover {
  color: #75cfb8;
}

.logo {
  height: 50px;
  border-radius: 100%;
  border-width: 100px;
  border-color: #16c196;
}

.centered {
  text-align: center;
}

.topdiv {
  width: 100%;
  height: 1000px;
  padding-left: 0;
  background-color: #1b262c;
  background-image: url(https://tistory1.daumcdn.net/tistory/2980699/skin/images/landscape_bg3.png);
  /* https://www.pinclipart.com/picdir/big/397-3976699_illustration-flat-planet-minimalist-png-and-vector-circle.png*/
  background-repeat: no-repeat;
  background-size: 1500px;
}

.middiv {
  background-color: #153445;
}

.bottomdiv {
  background-color: #253042;
}

.lazy {
  font-family: 'Ranchers', cursive;
}

/*********************************** ID Selectors ***********************************/
