/*********************************** Tag Selectors ***********************************/

body {
  background-color: #255B78;
  color: #e8e8e8;
  font-family: 'Oxygen', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  height: 100%;
  width: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

hr {
  color: #e8e8e8;
  border-style: none none dotted none;
  border-width: 5px;
  width: 5%;
}

h1 {
  font-size: 4rem;
  line-height: 200%;
}

/*********************************** Class Selectors ***********************************/

.subheader {
  font-weight: normal;
}

.header {
  color: #16c196;
  font-family: 'Ubuntu', Arial, sans-serif;
}

.header:hover {
  color: #75cfb8;
}

.logo {
  height: 50px;
  border-radius: 100%;
  border-width: 100px;
  border-color: #16c196;
}

.centered {
  text-align: center;
}

.topdiv {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-top: 40px;
  background-color: #1b262c;
  /* background-image: url(https://tistory1.daumcdn.net/tistory/2980699/skin/images/landscape_bg3.png); */
  /* background-image: url(https://www.pinclipart.com/picdir/big/397-3976699_illustration-flat-planet-minimalist-png-and-vector-circle.png); */
  background-repeat: no-repeat;
  background-size: 500px;
}

.middiv {
  background-color: #153445;
  text-align: center;
  display: inline;
  position: absolute;
}

.bottomdiv {
  background-color: #403547;
  display: block;
  text-align: center;
  position: absolute;
  right: 0;
  height: 100%;
}

.lazy {
  font-family: 'Architects Daughter', cursive;
}

.potato {
  height: 100px;
  width: 100px;
}

.space {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.sidebar {
  /* height: 100%;
  width: 100px; */
  height: 0;
  width: 0;
  visibility: hidden;
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #254455;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  top: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 100px;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  height: 100px;
}

.skill-row-image {
  line-height: 2;
  width: 25%;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.footer-link {
  text-decoration: none;
}

.BUTTON_IKG {
   background: #FF815A;
   background-image: -webkit-linear-gradient(top, #FF815A, #F63D3D);
   background-image: -moz-linear-gradient(top, #FF815A, #F63D3D);
   background-image: -ms-linear-gradient(top, #FF815A, #F63D3D);
   background-image: -o-linear-gradient(top, #FF815A, #F63D3D);
   background-image: -webkit-gradient(to bottom, #FF815A, #F63D3D);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   color: #000000;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: outset #000000 5px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_IKG:hover {
   border: outset #000000 5px;
   background: #D01E48;
   background-image: -webkit-linear-gradient(top, #D01E48, #F63D3D);
   background-image: -moz-linear-gradient(top, #D01E48, #F63D3D);
   background-image: -ms-linear-gradient(top, #D01E48, #F63D3D);
   background-image: -o-linear-gradient(top, #D01E48, #F63D3D);
   background-image: -webkit-gradient(to bottom, #D01E48, #F63D3D);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   text-decoration: none;
}

.spaced {
  width: 99%;
  height: 100px;
  position: absolute;
  top: 1550px;
  text-align: center;
  margin: 0 auto;
  display: block
}

/*********************************** ID Selectors ***********************************/
