/*********************************** Tag Selectors ***********************************/

body {
  background-color: #e8e8e8;
  color: #222831;
  font-family: 'Oxygen';
}

/*********************************** Class Selectors ***********************************/

.header {
  color: #30475e;
  font-family: 'Ubuntu';
}

.header:hover {
  color: #f05454;
}

/*********************************** ID Selectors ***********************************/
