/*********************************** Tag Selectors ***********************************/

body {
  background-color: #677871;
  color: #383e56;
  font-family: 'Oxygen', sans-serif;
  text-indent: 50px;
  display: block;
  margin: 2em;
}

img {
  height: 100px;

}

img:hover {
  height: 100px;
  width: 300px;
  background-color: #c5d7bd;
}

h1 {
  color: #fb743e;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  color: #fb743e;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  color: #383e56;
  border-style: none none dotted none;
  border-width: 5px;
  width: 5%;
}

div {
  background-color: #677871;
  color: #383e56;
  font-family: 'Oxygen', sans-serif;
  text-indent: 50px;
  display: block;
  margin: 2em;
}

a {
  color: #383e56;
  text-decoration: none;
  text-indent: 50px;
}

a:hover {
  color: #fb743e;
}



/*********************************** Class Selectors ***********************************/

.potato {
  background-color: brown;
}

.bacon {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

.hoverelement:hover {
  color: #777777;
}

.div {
  background-color: #677871;
  color: #383e56;
  font-family: 'Oxygen', sans-serif;
  text-indent: 50px;
  display: block;
  margin: 2em;
}


/*********************************** ID Selectors ***********************************/
