/*********************************** Tag Selectors ***********************************/

body {
  background-color: #393e46;
  color: #eeeeee;
  font-family: 'Oxygen', sans-serif;
}

img {
  height: 100px;

}

img:hover {
  height: 200px;
  background-color: gold;
}

h1 {
  color: #00adb5;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  color: #00adb5;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  color: #eeeeee;
  border-style: none none dotted none;
  border-width: 5px;
  width: 5%;
}

/*********************************** Class Selectors ***********************************/

.potato {
  background-color: brown;
}

.bacon {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

.hoverelement:hover {
  color: #777777;
}

/*********************************** ID Selectors ***********************************/

#heading {
  color: blue;
}
