/********************************* Primary Selectors *********************************/

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  font-family: 'Ubuntu', sans-serif;
}



/********************************* Class Selectors *********************************/

.brand-name {
  font-size: 32px;
  margin-left: 20px;
}

.spaced {
  padding-left: 50px;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.rotated {
    transform: rotate(25deg);
}

.iphone-image {
  width: 50%;
  position: absolute;
  right: 30%;
}

.feature-box {
    padding: 3rem 3rem 3rem 3rem;
    text-align: center;
}

.sub-sub-heading {
    color: #a3a3a3;
}

.color-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.color-icon:hover {
    color: #ff4161;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-img {
  padding-bottom: 5%;
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-indicators {
  bottom: 25px;
}

.row {
  width: 100%;
}

.pricing {
  padding: 3% 2%;
}

.card {
  text-align: center;
}

.pricing-header {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-desc {
  font-family: 'Ubuntu';
  font-size: 1rem;
  color: #a3a3a3;
}

/********************************* Id Selectors *********************************/

#features {
  padding: 7% 15%;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

#title {
  background-color: #ff4c68;
  padding-bottom: 40px;
  height: 40rem;

}

#passwordBox {
  font-family: 'Ubuntu';
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  text-align: center;
  background-color: #ef8172;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding-top: 2rem;
  line-height: 2px;
}

#footer {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
}

#pricing {
  text-align: center;
  padding-top: 2rem;
}
