/********************************* Primary Selectors *********************************/

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-weight: 900;
  color: #fff;
}

h2 {
  font-weight: 500;
}

p {
  font-family: 'Ubuntu', sans-serif;
}



/********************************* Class Selectors *********************************/

/* B */

.big-heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

.brand-name {
  font-size: 32px;
  margin-left: 20px;
}

/* C */

.card {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-indicators {
  bottom: 25px;
}

.color-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.color-icon:hover {
    color: #ff4161;
}

.container-fluid {
    padding: 3% 7% 7%;
}

/* D */

.download-button {
    margin: 5% 3% 5% 0;
}

/* F */

.feature-box {
    padding: 3rem 3rem 3rem 3rem;
    text-align: center;
}

.foot {
  font-family: 'Montserrat';
  font-weight: 900;
}

/* I */

.iphone-image {
  width: 50%;
  position: absolute;
  right: 30%;
}

/* N */

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

/* P */

.press-img {
  padding-bottom: 5%;
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing {
  padding: 3% 2%;
}

.pricing-desc {
  font-family: 'Ubuntu';
  font-size: 1rem;
  color: #a3a3a3;
}

.pricing-header {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}

/* R */

.rotated {
    transform: rotate(25deg);
}

.row {
  width: 100%;
}

/* S */

.spaced {
  padding-left: 50px;
}

.sub-sub-heading {
    color: #a3a3a3;
}

/* T */

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* W */

.watermark {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  z-index: 50000;
  height: 380%;
  width: 100%;
}

/********************************* Id Selectors *********************************/

/* Organized in order of appearance on page */

#title {
  background-color: #ff4c68;
  padding-bottom: 40px;
  height: 44rem;
}

#features {
  padding: 7% 15%;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  text-align: center;
  background-color: #ef8172;
}

#pricing {
  text-align: center;
  padding-top: 2rem;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding-top: 2rem;
  line-height: 2px;
}

#footer {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
}

/* @media Selectors */

@media (max-width: 1028px) {
  /* Default Selectors*/
  p {
    font-size: 1em;
  }
  /* Class Selectors*/
  .big-heading {
    font-size: 2rem;
  }
  .iphone-image {
    position: static;
    transform: rotate(0);
  }
  .pricing-header {
    font-size: 2rem;
  }
  /* Id Selectors */
  #title {
    text-align: center;
    height: 48rem;
  }
  #features {
    text-align: center;
  }
  #testimonials {
    text-align: center;
  }
  #press {
    text-align: center;
  }
  #pricing {
    text-align: center;
  }
  #cta {
    text-align: center;
  }
  #footer {
    text-align: center;
  }
}
